<main>
  <header>
    <icon-link icon="images/favicon.svg" text="Diana PLC" url="/" cls="home-link" tgt="_self" />
    <icon-link icon="images/In-White-96.png" text="LinkedIn" url="https://www.linkedin.com/in/diana-patton-lovecooksey" />
    <icon-link icon="images/github-mark-white.svg" text="GitHub" url="https://github.com/DianaPLC" />
  </header>
  <h1>{{ fullName }}</h1>
  <h2>{{ title }}</h2>
  <section>
    <h2>About</h2>
    <p>With 3+ years as a software engineer, 5+ years in product development and business management, and 10+ years as an educator, I approach software engineering from a user-oriented lens that balances business goals in the short and long term. My passion is building things, whether they be apps, tools, websites, features, databases, or anything else needed to make life better for my team and our users. I bring a unique blend of both technological and business insights to my work to create the right solution for every context.</p>
  </section>
  <section>
    <h2>Experience</h2>
    <experience />
  </section>
  <section>
    <h2>Contact</h2>
    <div class="flex-container">
      <icon-link icon="images/mail.svg" text="Email" url="mailto:contact@dianaplc.com" cls="button-link" />
      <icon-link icon="images/In-White-96.png" text="LinkedIn" url="https://www.linkedin.com/in/diana-patton-lovecooksey" cls="button-link" />
    </div>
  </section>
</main>


<router-outlet />
