@use '../_variables.scss' as *;

a.icon-link {
  text-decoration: none;
  font-weight: 700;
  padding: 1rem;
  color: $theme-light;
  display: inline-flex;
  align-items: center;

  img {
    height: 1em;
    margin-right: 0.5rem;
  }

  span {
    vertical-align: top;
  }

  &:hover {
    background-color: $highlight;
  }

  &:active {
    color: $theme-dark;
    border: 1px solid $highlight;
  }
}

a.header-link {
  font-family: $header-font;
  height: 3rem;
  float: right;

  @media screen and (max-width: 355px) {
    span {
      display: none;
    }

    img {
      height: 1.5rem;
    }
  }
}

a.home-link {
  font-family: $header-font;
  font-weight: 900;
  float: left;
  padding: 0 1rem;

  img {
    height: 3rem;
  }

  @media screen and (max-width: 500px) {
    span {
      display: none;
    }
  }
}

a.button-link {
  border: 1px solid $theme-dark;
  border-radius: 1rem;
}